.image {
    margin: 30px 50px;
}
.border {
    margin: 0 500px;
    border-radius: 2px;
    padding: 5px;
}
.login-form {
    padding: 20px;
    margin: 0;
    margin-bottom: 5px;
}
.username {
    font-size: 15px;
    margin-right: 115px;
}
.btn {
    padding: 3px 150px;
    color: black;
    background-color: #F7CA00;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-size: 12px;
    margin: 0 auto;
}
.password {
    color: black;
    margin-left: 60px;
    font-size: 15px
}
.forgotpw {
    color: #5581C5;
    margin-left: 120px;
}
#triangle{
    display: inline-flex;
	width: 5px;
	height: 5px;
	border-width: 2.5px 0 2.5px 5px;
	border-color: transparent transparent transparent #5581C5;
	border-style: solid;
    margin-left: 25px;
    margin-bottom: 3px;
}
.help {
    color: #5581C5;
}
.amazonnew {
    margin-top: 18px;
    color: grey;
    margin-left: 10px;
}
h6 {
  display: flex;
  flex-direction: row;
}
h6:before, h6:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid lightgray;
  margin: 10px 520px;
}
h6:before {
  margin-right: 10px
}
h6:after {
  margin-left: 10px
}
.accountbtn {
    padding: 2px 90px;
    margin-left: 5px;
    background-color: #E0E3E9;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 10px;
}
.footer {
    color: #5581C5;
    font-size: 12px;
    margin: 0;
}
#policy {
    padding: 25px;
}
.copyright {
    font-size: 12px;
    padding: 0 60px;
}